#img-perfil{
    width: 250px;
}

#img-stack{
    width: 200px;
}

.bg-primary{
    background-color: #a57f60!important;
}

.nav-link{
    color: #080503!important;
}

.text-bg-primary {
    background-color: #a57f60!important;
}

.titulo-proyecto{
    text-shadow: 2px 5px 30px #000000;
}

#proyecto-1{
    background-image: url('imagenes/proyecto-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-2{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-3{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-4{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-5{
    background-image: url('unsplash-photo-1.jpg');
}
#proyecto-6{
    background-image: url('unsplash-photo-1.jpg');
}


.testimonios{
    color: #000000;
}

.carousel-indicators [data-bs-target]{
background-color: #9F72F2;
height: 5px;
}

.carousel-control-prev [data-bs-slide]{
background-color:#9F72F2;
height: 5px;
}

.carousel-control-next [data-bs-slide]{
    background-color: #9F72F2;
    height: 5px;
}
.carousel-item{
    height: 400px;
}

.carousel-indicators [data-bs-target] {
    background-color: #72675d;
    height: 5px;
}

.carousel-caption{
    color:black;
}

.icono{
    width: 50px;
}
